/target/
/.classpath
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.jboss.ide.eclipse.as.core.prefs
/.tern-project
/.gradle/
/bin/
/build/
/scr/main/java/.gradle/
/.project
/src/main/java/.gradle/3.3/taskArtifacts/fileSnapshots.bin
/src/main/java/.gradle/3.3/taskArtifacts/taskArtifacts.bin
/src/main/java/.gradle/3.3/taskArtifacts/taskArtifacts.lock
/hs_err_pid10456.log
/replay_pid10456.log
/hs_err_pid17168.log
/hs_err_pid22564.log
/hs_err_pid9276.log
/replay_pid17168.log
/replay_pid22564.log
/replay_pid9276.log
