/target/
/.classpath
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.jboss.ide.eclipse.as.core.prefs
/.tern-project
/.gradle/
/.class/
/.class
/bin/
/build/
/scr/main/java/.gradle/
/.project
/src/main/java/.gradle/3.3/taskArtifacts/fileSnapshots.bin
/src/main/java/.gradle/3.3/taskArtifacts/taskArtifacts.bin
/src/main/java/.gradle/3.3/taskArtifacts/taskArtifacts.lock
/src/example/java/com/RunLengthEncoding2.java
/src/example/java/com/RunLengthEncoding3.java
/src/example/java/com/RunLengthEncoding4.java
/src/example/java/com/TestRunLengthEncod2.java
/src/example/java/com/TestRunLengthEncod3.java
